//Variables
@import "variable";
@import "button";
@import "font";

body{
    margin: 0;
    padding: 0;

}
p{
    color: $primary-color;
    font-family: $main-font;
    font-size: $base-font;
}

nav{
    background-color: $dark;
    padding: 15px;

    a{
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        color: $light;
       
    }
   
}


$bg-color:#000;
$text-color:#000;
.d1{
    height: 50px;
    width: 100vw;
    margin: 20px 0;
    background-color: $bg-color;

    @if($bg-color==$text-color){
        color: #fff;
    }

}

