//Variables
@import "variable";
@import "button";
@import "font";

//px to rem -> 1 rem 16px
@function px_to_rem($px){
    @return ($px/16)+ rem;
}

body{
    margin: 0;
    padding: 0;

}
p{
    color: $primary-color;
    font-family: $main-font;
    font-size: $base-font;
}

nav{
    background-color: $dark;
    padding: 15px;

    a{
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        color: $light;

        &:hover{
            color: map-get($colors, "warning");
            background-color: #ae1717;
            border-radius: 50px;
            transition: 1s;
            &:nth-child(2n){
                color: #3f1fa8;
            }
        }

        &:nth-child(2n){
            color: #ae1717;
        }
       
    }
   
}


$bg-color:#000;
$text-color:#000;
.d1{
    height: auto;
    width: 100vw;
    margin: 20px 0;
    padding: 15px;
    background-color: $bg-color;
    
    @extend %extend-border;

    @if($bg-color==$text-color){
        color: #fff;
    }

}

@mixin text-style-01{
    font-size: px_to_rem(32);
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.title{
 @include text-style-01;
 text-transform: uppercase;
}

.para{
@include text-style-01;
 text-transform: lowercase;
}

%extend-border{
    border: 1px solid red;
    padding:5px;

}
